<h1>Editing User: <%=@current.username%>.</h1>

<li>
  <% if @error %>
    <li> <%= @error %> </li>
  <% else %>
    <form action="/users/<%= @current.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <ul>
        <li>
          <label for="username">Name</label>
          <input id="username" type="text" name="username" value="<%= @current.username %>" />
        </li>
      </ul>
      <input type="submit" value="Update User" />
    </form>
    <form action="/users/<%= @current.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete this user">
    </form>
  <% end %>
</li>