<h1>User: <%= @user.username %></h1>
  
<h2><%= @user.username%>'s Albums: </h2>
<% if @album_array.empty? %>
  <h3> No albums yet! Make one! </h3>
<% end %>
<ul>
<% @album_array.each do |album| %>
  <li>
    <a href="/albums/<%= album.id %>">
      <%= album.name %> 
    </a>
  </li>
<% end %>
</ul>
<br>
<br>
<br>
<div> Click here to <a href="/albums/new">create a new album! </a> </div>
<br>
<br>
<a href="/albums"> All Albums </a>
<br>
<br>
<a href="/users"> All Users </a>
<br>
<br>
<div>
<% if @user.id == session[:user_id] %>
  <li>
    <a href="/users/<%= @user.id %>/edit">
      Edit your profile!
    </a>
  </li>
<% end %>
</div>
<br>
<br>

<a href="/logout"> User Logout </a>

  